[D-BUS Service]
Name=harbour-readeck.harbour-readeck
Exec=/usr/bin/invoker --type=silica-qt5 --desktop-file=harbour-readeck.desktop -s -n /usr/bin/harbour-readeck
